@font-face {
    font-family: 'Noir Pro';
    src: local('Noir Pro Regular'), local('Noir-Pro-Regular'),
        url('NoirPro-Regular.woff2') format('woff2'),
        url('NoirPro-Regular.woff') format('woff'),
        url('NoirPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }